$colors: (
    primary: #4f083b,
    secondary: white,
    quadriplery: rgb(184, 115, 145)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$laptop: 1435px;
$mini: 1270px;
$tablet: 908px;
$phone: 440px;
$microphone: 310px;

@mixin laptop {
    @media (max-width: #{$laptop}) {
        @content;
    }
}

@mixin mini {
    @media (max-width: #{$mini}) {
        @content
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content
    }
}

@mixin phone {
    @media (max-width: #{$phone}) {
        @content
    }
}

@mixin microphone {
    @media (max-width: #{$microphone}) {
        @content
    }
}

body,html {
    background-color: color(primary);
    background-image: none;
}

.gallery {
    text-align: center;
    padding-top: 8em;
    margin-right: 3em;
    margin-left: 3em;
     
    img {
        width: 25em;
        margin-right: 1.5em;
        transition: 1s;

        @include laptop {
            margin-bottom: 2em;
        }

        @include tablet {
            width: 90%;
            margin-bottom: 2em;
        }
    }

    img:hover {
        filter: grayscale(60%);
        transform: scale(1.1);
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}