$colors: (primary: #4f083b,
    secondary: white,
    tertiary: #ffdea1,
    quadriplery: rgb(184, 115, 145));

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$laptop: 1435px;
$mini: 1270px;
$tablet: 908px;
$phone: 440px;
$microphone: 310px;

@mixin laptop {
    @media (max-width: #{$laptop}) {
        @content;
    }
}

@mixin mini {
    @media (max-width: #{$mini}) {
        @content
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content
    }
}

@mixin phone {
    @media (max-width: #{$phone}) {
        @content
    }
}

@mixin microphone {
    @media (max-width: #{$microphone}) {
        @content
    }
}

html, body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

.policy {
    padding: 2em 13em;

    @include laptop {
        padding: 2em 7em;        
    }

    @include tablet {
        padding: 2em 4em;
    }

    @include phone {
        padding: 1em;
    }

    h1 {
        text-align: center;

        @include phone {
            font-size: 150%;
        }
    }
}