* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 95%;
  background-color: #0f0301;
}

@media (max-width: 420px) {
  html, body {
    font-size: 90%;
  }
}

#mainNav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #04263b;
  display: table;
  text-align: center;
}

@media (max-width: 720px) {
  #mainNav {
    display: none;
  }
}

#mainNav ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
}

#mainNav ul li a {
  display: inline-block;
  color: white;
  padding: 1.5em;
  text-decoration: none;
}

#mainNav ul li a:hover {
  background-color: rgba(249, 128, 80, 0.2);
  color: #f98050;
}

#miniNav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #04263b;
  text-align: right;
  display: none;
}

@media (max-width: 720px) {
  #miniNav {
    display: inline-block;
  }
}

label {
  margin-right: 1em;
  font-size: 230%;
  line-height: 1.75em;
  color: white;
  cursor: pointer;
}

#toggle {
  display: none;
}

.menu {
  width: 100%;
  margin-right: 0em;
  position: fixed;
  top: 4em;
  text-align: center;
  display: none;
}

@media (max-width: 720px) {
  .menu {
    display: inline-block;
  }
}

.menu a {
  display: block;
  width: 100%;
  background-color: #04263b;
  text-decoration: none;
  color: white;
  line-height: 2.5em;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.menu a:first-child {
  border-top: 1.5px solid rgba(0, 0, 0, 0.3);
}

.menu a:hover {
  background-color: #35383f;
  color: #f98050;
}

#toggle:checked + .menu {
  display: table;
}

#background {
  background: url(/www-public/assets/images/boardgamesfin2.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 27em;
}

@media (max-width: 420px) {
  #background {
    padding-bottom: 14em;
    text-align: center;
  }
}

#background h3 {
  color: white;
  display: table;
  margin: 0 auto;
  font-weight: normal;
  margin-top: 1.7em;
  padding-left: 5em;
  padding-right: 5em;
}

@media (max-width: 420px) {
  #background h3 {
    padding: 1.5em;
  }
}

#background .firstp {
  color: white;
  display: table;
  margin: 0 auto;
  font-weight: normal;
  margin-top: 1.7em;
}

#background img {
  display: table;
  margin: 0 auto;
  width: 34.375em;
  padding-top: 17.50em;
}

@media (max-width: 545px) {
  #background img {
    width: 95%;
  }
}

@media (max-width: 420px) {
  #background img {
    padding-top: 14em;
  }
}

@media (max-width: 385px) {
  #background img {
    padding-top: 10em;
  }
}

#background #line {
  display: table;
  margin: 0 auto;
  width: 24.25em;
  height: 0.14em;
  background-color: white;
  margin-top: 2em;
}

@media (max-width: 545px) {
  #background #line {
    width: 80%;
  }
}

button {
  display: table;
  margin: 0 auto;
  height: 3.3em;
  width: 15em;
  margin-top: 2.5em;
  background-color: #F98050;
  border: none;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  outline: none;
  border-radius: 0.35em;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (max-width: 720px) {
  button {
    width: 95%;
  }
}

@media (max-width: 420px) {
  button {
    font-size: 105%;
  }
}

#firstButton {
  width: 15em;
}

@media (max-width: 420px) {
  #firstButton {
    width: 80%;
  }
}

button:hover {
  background-color: #0B63AF;
}

#about {
  display: table;
  width: 100%;
  background-color: #F98050;
  padding: 2em 5em;
}

@media (max-width: 720px) {
  #about {
    padding: 2em 2em;
    text-align: center;
  }
}

#about h1 {
  margin-bottom: 0.7em;
}

@media (max-width: 908px) {
  #about h1 {
    display: table;
    float: clear;
    margin-top: 1em;
  }
}

#about p {
  text-align: left;
  font-size: 105%;
}

#about iframe {
  float: right;
  padding: 1.5em 0 1.2em 1.2em;
}

@media (max-width: 908px) {
  #about iframe {
    float: none;
    padding: 0;
    width: 95%;
  }
}

@media (max-width: 420px) {
  #about iframe {
    height: 100%;
  }
}

#specialcards {
  display: table;
  margin: 0 auto;
  width: 100%;
  background-color: #0F0301;
  padding: 2rem 5rem;
}

@media (max-width: 720px) {
  #specialcards {
    padding: 2em 2em;
  }
}

#specialcards h1, #specialcards p {
  color: white;
}

#specialcards img {
  width: 100%;
}

.dragons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

#red, #green, #blue {
  margin-right: 1em;
  margin-top: 1em;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 25em;
}

@media (max-width: 720px) {
  #red, #green, #blue {
    width: 70%;
  }
}

@media (max-width: 420px) {
  #red, #green, #blue {
    width: 90%;
    margin-right: 0em;
  }
}

.redgreenblue {
  padding: 0.5em 2em 2em 2em;
  font-size: 105%;
}

.redgreenblue #dragonType {
  font-size: 1.25em;
  font-weight: bold;
  color: black;
}

.redgreenblue #dragonDescription {
  padding-top: 0.5em;
  color: black;
}

h2 {
  font-weight: normal;
  color: #0B63AF;
  padding-top: 0.5em;
}

.line2 {
  display: table;
  margin: 0 auto;
  width: 9rem;
  height: 0.14em;
  background-color: black;
  margin-top: 0.5em;
}

#agenda {
  display: table;
  width: 100%;
  background-color: #F98050;
  padding: 2em 5em;
}

@media (max-width: 720px) {
  #agenda {
    padding: 2em 2em;
  }
}

.scheduleMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 105%;
}

.schedule {
  margin-right: 2em;
  margin-bottom: 1em;
}

#tickets {
  display: table;
  margin: 0 auto;
  width: 100%;
  background-color: #0F0301;
  padding: 2em 5em;
}

@media (max-width: 720px) {
  #tickets {
    padding: 2em 2em;
  }
}

#tickets h1, #tickets p {
  color: white;
}

#tickets img {
  width: 100%;
}

#london, #paris, #rome {
  margin-right: 1em;
  margin-top: 1em;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 25em;
}

@media (max-width: 720px) {
  #london, #paris, #rome {
    width: 70%;
  }
}

@media (max-width: 420px) {
  #london, #paris, #rome {
    width: 90%;
    margin-right: 0em;
  }
}

footer {
  display: table;
  margin: 0 auto;
  width: 100%;
  background-color: #04263b;
  padding: 2em 0 3em 0;
}

@media (max-width: 420px) {
  footer {
    padding: 1em 1em 2em 1em;
    text-align: center;
  }
}

footer h2 {
  color: white;
  text-align: center;
}

footer p {
  display: table;
  margin: 0 auto;
  color: white;
  margin-top: 0.5em;
  font-size: 105%;
}

footer a {
  text-decoration: none;
  color: #ffaf46;
}

#social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialMedia {
  width: 6.5em;
}

@media (max-width: 420px) {
  .socialMedia {
    width: 85%;
  }
}
/*# sourceMappingURL=style.css.map */